In [1]:
import pandas as pd

In [3]:
#Read a csv

df=pd.read_csv('data.csv')

df.head(10)

,name,age,street,city,state,zip,lng,lat
0,Kenneth Fox,64,544 Pennington Rue,Reidborough,Montana,84524,3.542905,-77.459931
1,Manuel Thomas,71,4970 Cohen Corners Suite 547,Port Christopher,Missouri,91862,39.586249,47.431586
2,Chelsea Washington,30,423 Smith Underpass,Contrerasberg,Hawaii,38361,177.914475,25.769298
3,William Morrow,18,548 Espinoza Junction Suite 661,Henryberg,Mississippi,58454,-85.322147,63.343746
4,Steven Gray,35,3638 Valdez Vista,Zacharyton,Idaho,26321,115.555973,-47.966601
5,Jill Pierce,40,5039 Nancy Meadow Suite 293,West Chad,Texas,49093,-36.981994,53.114286
6,Alyssa Martinez,24,2830 Casey Plains Apt. 704,New Priscillaborough,Kentucky,65419,65.093987,52.078618
7,Daniel Hoover,80,0345 Jessica Village,Campbellbury,Wyoming,91654,-98.399438,45.726290
8,Robert Moore,36,0335 Scott Pine Suite 101,Benitezstad,West Virginia,2225,71.295841,-23.213174
9,Marissa Estrada,65,874 Gary Street,Port Paulport,Indiana,96427,109.059663,48.535804

In [4]:
#Create a dictionary

data = {'Name': ['Paul', 'Bob', 'Susan', 'Yolanda'],
'Age': [23,45,18,21]}

In [5]:
#pass to dataframe 

df = pd.DataFrame(data)

In [7]:
#dataframe to csv

df.to_csv('fromdf.csv', index=False)